.Rproj.user
.Rhistory
.RData
.Ruserdata
data/
explote.R
old_data_and_files/FINAL.CSV
old_data_and_files/final.rds
old_data_and_files/SNOTEL_Temperature_sensor_change_dates__dictionary1.csv
old_data_and_files/styles.css
